body {
	font-size: .875rem;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/*
   * Sidebar
   */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	background-color: #121438;
}

@media ( max-width : 767.98px) {
	.sidebar {
		top: 5rem;
	}
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) { .sidebar-sticky
	{ position:-webkit-sticky;
	position: sticky;
}

}
.sidebar .nav-link {
	font-weight: 500;
	color: rgb(199, 196, 196);
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #fff;
}

.sidebar .nav-link.active {
	color: #fff;
	border: 1px solid #999;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
	color: #ffffff;
}

.sidebar a:hover, .sidebar a:active {
	color: #f1f1f1;
	border: 1px solid #999;
	background-color: #060622;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

/*
   * Navbar
   */
.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.pcoded[theme-layout="vertical"] .pcoded-header[pcoded-header-position="fixed"]
	{
	position: fixed;
	z-index: 1028;
}

.bg-c-red, .text-c-red {
	background-color: #FF5370;
}

.bg-c-green, .text-c-green {
	background-color: #2ed8b6;
}

.bg-c-blue, .text-c-blue {
	background-color: #4099ff;
}

.prod-p-card i {
	background-color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding: 11px 0;
	font-size: 18px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
	box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
}

.pcoded[theme-layout="vertical"] .pcoded-header[pcoded-header-position="fixed"]
	{
	position: fixed;
	z-index: 1028;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 5px 25px;
	background: #245AAA;
	text-align: left;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: solid #1e55a8;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-color: rgb(30, 85, 168);
	border-bottom-style: solid;
	border-bottom-width: medium;
	border-left-width: medium;
	border-width: 1px;
	border-bottom-width: 1px;
	border-bottom: none;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 10px;
}

.form-top-left h3 {
	margin-top: 0;
	font-size: 22px;
	font-weight: 300;
	color: #fff;
	line-height: 30px;
}
.form-top-right {
    float: left;
    width: 25%;
    padding-top: 10px;
    font-size: 32px;
    color: #fff;
    text-align: right;
}